{* Latte template *}

{block content}
<div class="container">   
    <center><h1>Přidat zaměstnance</h1></center>
    <div class="vertical-space-sm"></div>
    <div class='col-md-6 col-md-offset-3'>
        {control addEmployeeForm}
    </div>
</div>