{* Latte template *}

{block content}
<div class="container">
    
    <script>
        $(function(){
            $("#tbl").dataTable({
                "aoColumnDefs": [{ "bSearchable": false, "aTargets": [ 4 ] }]
            } );
        });
    </script>
    
    <center><h1>Personál</h1></center>
        
    <div class="row">
        <table id="tbl" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Jméno</th>
                    <th>Pozice</th>
                    <th>Telefon</th>
                    <th>Uživatelské jméno</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {foreach $employees as $employee}
                <tr>
                    <td>{$employee->name}</td>
                    <td>{$employee->getNiceRole()}</td>
                    <td>{chunk_split($employee->phone, 3, ' ')}</td>
                    <td>{$employee->username}</td>
                    <td> 
                        <center>
                            <a href="{link edit, $employee->id}" class="btn btn-primary">upravit informace</a>
                            <a href="{link editPassword, $employee->id}" class="btn btn-primary">změnit heslo</a>
                            <a href="{link remove, $employee->id}" class="btn btn-primary">odstranit zaměstnance</a>     
                        </center>
                    </td>
                </tr>
                {/foreach}
            </tbody>

        </table>
    </div>
            
    <div class="vertical-space-sm"></div>
    
    <div class="row">
    <a href="{link add}" class='btn btn-primary'>Přidat nového zaměstnance</a>
    </div>
    
</div>