{* Latte template *}

{block content}
<div class="container">
    <center><h1>Upravit zaměstnance</h1></center>
    <div class="vertical-space-sm"></div>
    <div class='col-md-6 col-md-offset-3'>
        {control editEmployeeForm}
    </div>
</div>