{* Latte template *}

{block content}
<div class="container">
    
    <script>
        $(function(){
            $("#tbl").dataTable({
                "aoColumnDefs": [{ "bSearchable": false, "aTargets": [ 2 ] }]
            } );
        });
    </script>
    
    <center><h1>Pojišťovny bez smlouvy</h1></center>
        
    <div class="row">
        <table id="tbl" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Jméno pojišťovny</th>
                    <th>Zkratka</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {foreach $insurances as $insurance}
                <tr>
                    <td>{$insurance->name}</td>
                    <td>{$insurance->shortName}</td>
                    <td> 
                        <center>
                            <a href="{link restore, $insurance->id, archive}" class="btn btn-primary">obnovit smlouvu s pojišťovnou</a>     
                        </center>
                    </td>
                </tr>
                {/foreach}
            </tbody>

        </table>
    </div>   
</div>