{* Latte template *}

{block content}
<div class="container">
    
    <script>
        $(function(){
            $("#tbl").dataTable({
                "aoColumnDefs": [{ "bSearchable": false, "aTargets": [ 2 ] }]
            } );
        });
    </script>
    
    <center><h1>Pojišťovny se smlouvou</h1></center>
        
    <div class="row">
        <table id="tbl" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Jméno pojišťovny</th>
                    <th>Zkratka</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {foreach $insurances as $insurance}
                <tr>
                    <td>{$insurance->name}</td>
                    <td>{$insurance->shortName}</td>
                    <td> 
                        <center>
                            <a href="{link edit, $insurance->id}" class="btn btn-primary">upravit informace o pojišťovně</a>
                            <a href="{link remove, $insurance->id}" class="btn btn-primary">vypovědět smlouvu</a>     
                        </center>
                    </td>
                </tr>
                {/foreach}
            </tbody>

        </table>
    </div>
            
    <div class="vertical-space-sm"></div>
    
    <div class="row">
    <a href="{link add}" class='btn btn-primary'>Přidat novou pojišťovnu</a>
    </div>
    
</div>