{* Latte template *}

{block content}
<div class="container">
    
    <center><h1>Současní pacienti</h1></center>
    <div class="vertical-space-sm"></div>
    
    <script>
        $(function(){
            $("#tbl").dataTable({
                "aoColumnDefs": [{ "bSearchable": false, "aTargets": [ 7 ] }]
            } );
        });
    </script>

    <div class="row">
        <table id="tbl" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Jméno a příjmení</th>
                    <th>Rodné číslo</th>
                    <th>Datum narození</th>
                    <th>Pojišťovna</th>
                    <th>Město</th>
                    <th>Ulice</th>
                    <th>PSČ</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {foreach $patients as $patient}
                <tr>
                    <td>{$patient->name}</td>
                    <td>{$patient->givenId}</td>
                    <td>{$patient->dateOfBirth|date:"d.m.Y"}</td>
                    <td>{if $patient->insurance==null}nepojištěn{if $patient->sex=="female"}a{/if}{else}{$patient->insurance->shortName}{/if}</td>
                    <td>{$patient->city}</td>
                    <td>{$patient->street}</td>
                    <td>{$patient->code}</td>
                    <td> 
                        <a href="{link detail, $patient->id}" class="btn btn-primary">zobrazit kartu pacienta</a>
                        <a href="{link remove, $patient->id}" class="btn btn-primary">odstranit</a>     
                    </td>
                </tr>
                {/foreach}
            </tbody>

        </table>
    </div>
            
    <div class="vertical-space-sm"></div>
    
    <div class="row">
    <a href="{link add}" class='btn btn-primary'>Přidat nového pacienta</a>
    </div>
    
</div>