{* Latte template *}

{block content}
<div class="container">
    <a href="{link Patient:default}" class="btn btn-primary" style="margin-left:0">zpět na seznam pacientů</a>
    <center><h1>Karta pacienta</h1></center>
    <div class="row">
        <h2>Základní informace</h2>
        <table id="tbl" class="table table-striped table-bordered" width:500>
                <tr>
                    <th>Jméno a přijmení</th><td>{$patient->name}</td>
                </tr>
                <tr>
                    <th>Pohlaví</th><td>{$patient->getNiceSex()}</td>
                </tr>
                <tr>
                    <th>Rodné číslo</th><td>{$patient->givenId}</td>
                </tr>
                <tr>
                    <th>Datum narození</th><td>{$patient->dateOfBirth|date:"d.m.Y"}</td>
                </tr>
                <tr>
                    <th>Pojišťovna</th>
                    <td>
                        {if $patient->insurance==null}
                            nepojištěn{if $patient->sex=="female"}a{/if}
                        {else}
                            {$patient->insurance->name}
                        {/if}
                    </td>
                </tr>
                <tr>
                    <th>Ulice</th><td>{$patient->street}</td>
                </tr>
                <tr>
                    <th>Město</th><td>{$patient->city}</td>
                </tr>
                <tr>
                    <th>PSČ</th><td>{$patient->code}</td>
                </tr>
                <tr>
                    <th>Telefon</th><td>{chunk_split($patient->phone, 3, ' ')}</td>
                </tr>
                <tr>
                    <th>E-mail</th><td>{$patient->email}</td>
                </tr>
                <tr>
                    <th>Karta založena dne</th><td>{$patient->registerDate|date:"d.m.Y"}</td>
                </tr>
        </table>
        <a href="{link Patient:edit, $patient->id}" class="btn btn-primary" style="float:right">upravit základní informace</a>
    </div>    
    
    <div class="vertical-space-sm"></div>
    
    <div class="row">
        {if $patient->visits->count()}
            <h2>Návštěvy</h2>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Datum a čas</th>
                        <th>Detail</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {foreach $patient->visits as $visit}
                    <tr>
                        <td>{$visit->dateTime|date:"d.m.Y h:m"}</td>
                        <td>{$visit->getDetailSnippet()}</td>
                        <td>
                            <a href="{link Visit:detail, $visit->id}" class="btn btn-primary">zobrazit detail návštěvy</a>
                            <a href="{link Visit:remove, $visit->id, "Patient:detail", array($patient->id)}" class="btn btn-primary">odstranit</a>
                        </td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
        {/if}
        {if $patient->insurance}
        <a href="{link Visit:add, $patient->id}" class="btn btn-primary" style="float:right">přidat záznam o návštěvě</a>
        {else}
        <span style="color:red;float:right">Nelze přijímat pacienta, dokud nebude přiřezena pojišťovna.</span>
        {/if}
        <a href="{link Order:add, $patient->id}" class="btn btn-primary" style="float:right; margin-right: 5px">objednat pacienta</a>
    </div>
    <div class="vertical-space-sm" style="height:50px;"></div>
</div>