{* Latte template *}

{block content}
<div class="container">
    <center>
        <h1>Přidat předpis léku</h1>
        <h3>K návštěvě pacienta {$visit->patient->name} ze dne {$visit->dateTime|date:"d.m.Y"}</h3>
    </center>
    <div class="vertical-space-sm"></div>
    <div class='col-md-6 col-md-offset-3'>
        {control addPrescriptionForm}
        <span style="width:75%;float:right">
            <a href="{link Visit:detail $visit->id}" class="btn btn-default button" style="margin-left: 7px;">Zrušit</a>  
        </span>
    </div>
</div>