{* Latte template *}

{block content}
<div class="container">
    
    <script>
        $(function(){
            $("#tbl").dataTable({"aoColumnDefs": [{ "bSearchable": false, "aTargets": [ 2 ] }]
            } );
        });
    </script>
    
    <center><h1>Archiv zákroků</h1></center>
        
    <div class="row">
        <table id="tbl" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Jméno zákroku</th>
                    <th>Doba účinnosti / opakovat za</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {foreach $treatments as $treatment}
                <tr>
                    <td>{$treatment->name}</td>
                    <td>{$treatment->getNiceExpiration()}</td>
                    <td> 
                        <center>
                            <a href="{link restore, $treatment->id, archive}" class="btn btn-primary">přesunout do prováděných zákroků</a>     
                        </center>
                    </td>
                </tr>
                {/foreach}
            </tbody>

        </table>
    </div>
</div>