{* Latte template *}

{block content}
<div class="container">
    
    <script>
        $(function(){
            $("#tbl").dataTable({
                "aoColumnDefs": [{ "bSearchable": false, "aTargets": [ 2 ] }]
            } );
        });
    </script>
    
    <center><h1>Prováděné zákroky</h1></center>
        
    <div class="row">
        <table id="tbl" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Jméno zákroku</th>
                    <th>Doba účinnosti / opakovat za</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {foreach $treatments as $treatment}
                <tr>
                    <td>{$treatment->name}</td>
                    <td>{$treatment->getNiceExpiration()}</td>
                    <td> 
                        <center>
                            <a href="{link edit, $treatment->id}" class="btn btn-primary">upravit</a>
                            <a href="{link remove, $treatment->id}" class="btn btn-primary">odstranit z prováděných zákroků</a>     
                        </center>
                    </td>
                </tr>
                {/foreach}
            </tbody>

        </table>
    </div>
            
    <div class="vertical-space-sm"></div>
    
    <div class="row">
    <a href="{link add}" class='btn btn-primary'>Přidat nový zákrok</a>
    </div>
    
</div>