{block content}

<div class="container">
    
    <style>
            body {
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #eee;
          text-align:center;
        }
        .form-signin {
          max-width: 330px;
          padding: 15px;
          margin: 0 auto;
        }
    </style>
    
     <h1>Vítejte v systému Health Care System 2014</h1>
     <b>Pro používání systému se prosím přihlaste.</b>
     {control signInForm}
    
</div>

