{* Latte template *}

{block content}
<div class="container">
    <center>
        <h1>Objednat pacienta na návštěvu</h1>
    </center>
    <div class="vertical-space-sm"></div>
    <div class='col-md-6 col-md-offset-3'>
        {control addOrderForm}
        <span style="width:75%;float:right">
            <a href="{if $patient}{link Patient:detail, $patient->id}{else}{link Order:default}{/if}" class="btn btn-default button" style="margin-left: 7px;">Zrušit</a>  
        </span>
    </div>
</div>