{* Latte template *}

{block content}
<div class="container">
    
    <script>
        $(function(){
            $("#tbl").dataTable({
                "aoColumnDefs": [{ "bSearchable": false, "aTargets": [ 3 ] }]
            } );
        });
    </script>
    
    <center><h1>Objednávání pacientů</h1></center>
        
    <div class="row">
        <table id="tbl" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Datum a čas</th>
                    <th>Pacient</th>
                    <th>Zákroky</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {foreach $orders as $order}
                <tr>
                    <td>{$order->patient->name}</td>
                    <td>{$order->dateTime|date:"d.m.Y h:m"}</td>
                    <td>{$order->getNiceTreatmentListing()}</td>
                    <td> 
                        <center>
                            <a href="{link remove, $order->id}" class="btn btn-primary" style="margin-bottom: 5px; margin-right: 5px; float:right">zrušit návštěvu</a>
                            <a href="{link detail, $order->id}" class="btn btn-primary" style="margin-bottom: 5px; margin-right: 5px; float:right">detail návštěvy</a>
                            <a href="{link edit, $order->id}" class="btn btn-primary" style="margin-bottom: 5px; margin-right: 5px; float:right">upravit</a>
                        </center>
                    </td>
                </tr>
                {/foreach}
            </tbody>

        </table>
    </div>
            
    <div class="vertical-space-sm"></div>
    
    <div class="row">
    <a href="{link add}" class='btn btn-primary'>Objednat pacienta na návštěvu</a>
    </div>
    
</div>