{* Latte template *}

{block content}
<div class="container">
    <a href="{link Order:default}" class="btn btn-primary" style="margin-left:0">zpět na seznam objednaných návštěv</a>
    <center><h1>Detail objednané návštěvy</h1></center>
    <div class="row">
        <h2>Základní informace</h2>
        <table id="tbl" class="table table-striped table-bordered" style="table-layout:fixed">
                <tr>
                    <th style="width:30%">Pacient</th><td>{$order->patient->name} (přejít na <a href="{link Patient:detail, $order->patient->id}">kartu pacienta</a>)</td>
                </tr>
                <tr>
                    <th>Datum a čas</th><td>{$order->dateTime|date:"d.m.Y h:m"}</td>
                </tr>
        </table>
        <a href="{link edit, $order->id}" class="btn btn-primary" style="float:right">upravit základní informace</a>
    </div>    
    
    <div class="row">
            <h2>Plánované lékařské výkony</h2>
            <table class="table table-striped table-bordered" >
                <thead>
                    <tr>
                       <th>Jméno zákroku</th>
                       <th>Doba účinnosti / opakovat za</th>
                       <th></th>
                    </tr>
                </thead>
                <tbody>
                {foreach $order->treatments as $treatment}
                <tr>
                    <td>{$treatment->name}</td>
                    <td>{$treatment->getNiceExpiration()}</td>
                    <td> 
                        <center>
                            <a href="{link removeTreatment, $order->id, $treatment->id, "Order:detail", array($order->id)}" class="btn btn-primary" style="margin-bottom: 5px; margin-right: 5px; float:right">odstranit</a>     
                        </center>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        <div style="width: 400px; float: right">{control addTreatmentForm}</div>
    </div>
    
    <div class="vertical-space-sm" style="height: 50px"></div>  
    
</div>