{* Latte template *}

{block content}
<div class="container">
    
    <script>
        $(function(){
            $("#tbl").dataTable({
                "aoColumnDefs": [{ "bSearchable": false, "aTargets": [ 2 ] }]
            } );
        });
    </script>
    
    <center>
        <h1>Objednávání na pravidelné úkony</h1>
        <bold>Seznam úkonů, kterým zbývá méně než 1 měsíc před koncem účinnosti a pacient není objednaný.</bold>
        <div class="vertical-space-sm"></div>
    </center>
        
    <div class="row">
        <table id="tbl" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Pacient</th>
                    <th>Zákrok</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {foreach $expiring as $item}
                <tr>
                    <td>{$item[0]->name}</td>
                    <td>{$item[1]->name}</td>
                    <td> 
                        <center>
                            <a href="{link add}" class="btn btn-primary" style="margin-bottom: 5px; margin-right: 5px; float:right">objednat</a>
                        </center>
                    </td>
                </tr>
                {/foreach}
            </tbody>

        </table>
    </div>
            
    <div class="vertical-space-sm"></div>
    
    <div class="row">
    <a href="{link add}" class='btn btn-primary'>Objednat pacienta na návštěvu</a>
    </div>
    
</div>