{* Latte template *}

{block content}
<div class="container">
    <center>
        <h1>Přidat záznam o návštěvě</h1>
        <h3>{$patientName}</h3>
        <b>Pro záznam výkonů a předepsaných léků nejdříve vytvořte záznam o návštěvě.</b>
    </center>
    <div class="vertical-space-sm"></div>
    <div class='col-md-6 col-md-offset-3'>
        {control addVisitForm}
        <span style="width:75%;float:right">
            <a href="{link Patient:detail $patientId}" class="btn btn-default button" style="margin-left: 7px;">Zrušit</a>  
        </span>
    </div>
</div>