{* Latte template *}

{block content}
<div class="container">
    
    <script>
        $(function(){
            $("#tbl").dataTable({
            } );
        });
    </script>
    
    <center><h1>Proplacené lékařské výkony</h1></center>
    
    <div class="row">
            <table id="tbl" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Pacient</th>
                        <th>Pojišťovna</th>
                        <th>Cena</th>
                    </tr>
                </thead>
                <tbody>
                {foreach $visits as $visit}
                    <tr>
                        <td>{$visit->dateTime|date:"d.m.Y h:m"}</td>
                        <td>{$visit->patient->name}</td>
                        <td>{$visit->patient->insurance->shortName}</td>
                        <td>{$visit->price},- Kč</td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
     </div>              
</div>