{* Latte template *}

{block content}
<div class="container">
    <a href="{link Patient:detail, $visit->patient->id}" class="btn btn-primary" style="margin-left:0">zpět na kartu pacienta</a>
    <center><h1>Detail návštěvy pacienta</h1></center>
    <div class="row">
        <h2>Základní informace</h2>
        <table id="tbl" class="table table-striped table-bordered" style="table-layout:fixed">
                <tr>
                    <th style="width:30%">Pacient</th><td>{$visit->patient->name}</td>
                </tr>
                <tr>
                    <th>Datum a čas</th><td>{$visit->dateTime|date:"d.m.Y h:m"}</td>
                </tr>
                <tr>
                    <th>Detail návštěvy</th><td>{$visit->detail}</td>
                </tr>
                <tr>
                    <th>K uhrazení pojišťovnou</th><td>{$visit->price},- Kč</td>
                </tr>
        </table>
        <a href="{link edit, $visit->id}" class="btn btn-primary" style="float:right">upravit základní informace</a>
    </div>    
    
    <div class="vertical-space-sm"></div>
    
    <div class="row">
        {if $visit->prescriptions->count()}
            <h2>Předepsané léky</h2>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Název léku</th>
                        <th>Poznámka (dávkování atp.)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {foreach $visit->prescriptions as $prescription}
                    <tr>
                        <td>{$prescription->drug}</td>
                        <td>{$prescription->note}</td>
                        <td>
                            <a href="{link Prescription:edit, $prescription->id}" class="btn btn-primary" style="margin-bottom: 5px;  margin-right: 5px; float:right">upravit předpis</a>
                            <a href="{link Prescription:remove, $prescription->id, "Visit:detail", array($visit->id)}" class="btn btn-primary" style="margin-bottom: 5px;  margin-right: 5px; float:right">odstranit</a>
                        </td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
        {/if}
        <a href="{link Prescription:add, $visit->id}" class="btn btn-primary" style="float:right">předepsat lék</a>
    </div>   
    
    <div class="vertical-space-sm"></div>
    
    <div class="row">
        {if $visit->extracheckups->count()}
            <h2>Doplňující vyšetření na jiných odděleních</h2>
            <table class="table table-striped table-bordered" >
                <thead>
                    <tr>
                        <th>Oddělení</th>
                        <th style="width:20%">Důvod</th>
                        <th>Výsledek</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {foreach $visit->extracheckups as $extraCheckUp}
                    <tr>
                        <td>{$extraCheckUp->getNiceClinic()}</td>
                        <td>{$extraCheckUp->subject}</td>
                        <td>{$extraCheckUp->result}</td>
                        <td>
                            <a href="{link Extracheckup:edit, $extraCheckUp->id}" class="btn btn-primary" style="margin-bottom: 5px; margin-right: 5px; float:right">upravit záznam o vyšetření</a>
                            <a href="{link Extracheckup:remove, $extraCheckUp->id, "Visit:detail", array($visit->id)}" class="btn btn-primary" style="margin-bottom: 5px;  margin-right: 5px; float:right">odstranit</a>
                        </td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
        {/if}
        <a href="{link Extracheckup:add, $visit->id}" class="btn btn-primary" style="float:right">přidat záznam o doplňujícím vyšetření</a>
    </div>
    
    <div class="vertical-space-sm"></div>
    
    <div class="row">
            <h2>Provedené lékařské výkony</h2>
            <table class="table table-striped table-bordered" >
                <thead>
                    <tr>
                       <th>Jméno zákroku</th>
                       <th>Doba účinnosti / opakovat za</th>
                       <th></th>
                    </tr>
                </thead>
                <tbody>
                {foreach $visit->treatments->toArray() as $treatment}
                <tr>
                    <td>{$treatment->name}</td>
                    <td>{$treatment->getNiceExpiration()}</td>
                    <td> 
                        <center>
                            <a href="{link removeTreatment, $visit->id, $treatment->id, "Visit:detail", array($visit->id)}" class="btn btn-primary" style="margin-bottom: 5px; margin-right: 5px; float:right">odstranit</a>     
                        </center>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        <div style="width: 400px; float: right">{control addTreatmentForm}</div>
    </div>
    
    <div class="vertical-space-sm" style="height: 50px"></div>
    
    
</div>