{* Latte template *}

{block content}
<div class="container">
    <center><h1>Upravit záznam o návštěvě</h1></center>
    <div class="vertical-space-sm"></div>
    <div class='col-md-6 col-md-offset-3'>
        {control editVisitForm}
        <span style="width:75%;float:right">
            <a href="{link Visit:detail $visitId}" class="btn btn-default button" style="margin-left: 7px;">Zrušit</a>  
        </span>
    </div>
</div>