{* Latte template *}

{block content}
<div class="container">
    
    <script>
        
        $(function(){
            $.fn.dataTableExt.afnFiltering.push(
                      function( oSettings, aData, iDataIndex ) {

                              var insurance = aData[2];
                              var filterInsurance = $("#Insurance").val() == ""? undefined : $("#Insurance").val();
                              
                              if (filterInsurance) {
                                  if (insurance != filterInsurance) {
                                          return false;
                                  }
                              }
                              
                              return true;
                      }
              );
        

        var table = $("#tbl").dataTable({
                sDom: "<'row'<'col-xs-6'><'col-xs-6 col-xs-offset-10 'l>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
                "aoColumnDefs": [{ "bSearchable": false, "aTargets": [ 4 ] }]
            } );
        
        $("#filterButton").click(function(event){
            event.preventDefault();
            table.fnDraw();
            });
            
            $("#resetButton").click(function(event){
                event.preventDefault();
                $("#Insurance").selectpicker("val", "");
                table.fnDraw();
             });
             
       });      
        
    </script>
    
    <center><h1>Neproplacené lékařské výkony</h1></center>
    
<form id="filterForm">
                <table>   
                    <tr>
                        <td style="padding-right:10px"><label for="insurance">Pojišťovna</label></td>
                        <td>
                            <select id="Insurance">
                            <option value="">-vyberte pojištovnu-</option>
                            {foreach $uniqueInsurance as $insurance} <option value="{$insurance}">{$insurance}</option> {/foreach}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-left:10px" align="right">
                            <button id="filterButton" class='btn btn-primary'>Filtrovat</button>
                            <button id="resetButton" class='btn btn-primary'>Reset</button>
                          </td>
                    </tr>
               </table> 
</form>
    
    <div class="row">
            <table id="tbl" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Pacient</th>
                        <th>Pojišťovna</th>
                        <th>Cena</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {foreach $visits as $visit}
                    {if $visit->patient->insurance}
                    <tr>
                        <td>{$visit->dateTime|date:"d.m.Y h:m"}</td>
                        <td>{$visit->patient->name}</td>
                        <td>{$visit->patient->insurance->shortName}</td>
                        <td>{$visit->price},- Kč</td>
                        <td>
                            <a href="{link Visit:cover, $visit->id, "Visit:uncovered"}" class="btn btn-primary">označit jako proplacené</a>
                        </td>
                    </tr>
                    {/if}
                {/foreach}
                </tbody>
            </table>
                <a href="{link uncovered}" class="btn btn-primary" style="float:right">vytisknout fakturu</a>
     </div>              
</div>