{* This is the welcome page, you can delete it *}

{block content}
<div class="container">
    <h1>Vítejte v systému Health Care System 2014</h1>
    V nabídce v horní části si vyberte jednu z možností a můžete začít!
</div>
{/block}
