{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
*}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="robots" content="{$robots}" n:ifset="$robots">

        <title>{block title|striptags|upper}Health Care System 2014{/block}</title>

        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/jquery-ui-1.10.0.custom.css">
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/jquery-ui-timepicker-addon.css">
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap-select.min.css">
        <link rel="stylesheet" media="screen,projection,tv" href="//cdn.datatables.net/plug-ins/505bef35b56/integration/bootstrap/3/dataTables.bootstrap.css">
        
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/main.css">

        <link rel="shortcut icon" href="{$basePath}/favicon.ico">

        {block scripts}
        <script src="{$basePath}/js/jquery.js"></script>
        <script src="{$basePath}/js/jquery-ui-1.10.4.custom.min.js"></script>
        <script src="{$basePath}/js/live.form.validation.js"></script>
        <script src="{$basePath}/bootstrap/js/bootstrap.min.js"></script>
        <script src="{$basePath}/js/jquery.dataTables.min.js"></script>
        <script src="{$basePath}/js/datatablesCs.js"></script>
        <script src="{$basePath}/js/date-cs-CZ.js"></script>
        <script src="{$basePath}/js/jquery-ui-timepicker-addon.js"></script>
        <script src="{$basePath}/js/jquery.ui.datepicker-cs.js"></script>
        <script src="{$basePath}/js/jquery.ui.datetimepicker-cs.js"></script>
        <script src="{$basePath}/js/nette.ajax.js"></script>
        <script src="{$basePath}/js/bootstrap-select.min.js"></script>
        <script src="{$basePath}/js/jquery.mask.min.js"></script>
        <script src="{$basePath}/js/main.js"></script>
        <script src="//cdn.datatables.net/plug-ins/505bef35b56/integration/bootstrap/3/dataTables.bootstrap.js"></script>
        {/block}

        <style>
            body {
                padding-top: 70px;
                padding-bottom: 30px;
            }
        </style>
        {block head}{/block}
    </head>

    <body>
        <script> 
            
        document.documentElement.className += ' js'
        
        function DefaultRedirect()
        {
            window.location="default";
        }
        
    </script>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{link Homepage:}">Health Care System 2014</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {if $userRole != "nurse"}
                            {if $userRole == "admin"}
                                <li{ifCurrent Employee:*} class="active"{/ifCurrent}><a href="{link Employee:}">Personál</a></li>
                            {/if}
                            
                            <li{ifCurrent Patient:*} class="active"{/ifCurrent}><a href="{link Patient:}">Pacienti</a></li>
                            
                            {if $userRole == "admin"}
                                <li{ifCurrent Treatment:*} class="active"{/ifCurrent}>
                                    <a href="{link Treatment:}" class="dropdown-toggle" data-toggle="dropdown">Zákroky<b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-level">
                                        <li{ifCurrent Treatment:default} class="active"{/ifCurrent}><a href="{link Treatment:default}">Aktuálně prováděné</a></li>
                                        <li{ifCurrent Treatment:archive} class="active"{/ifCurrent}><a href="{link Treatment:archive}">Archiv</a></li>
                                    </ul>  
                                </li>
                            {/if}
                            <li{ifCurrent Insurance:*} class="active"{/ifCurrent}>
                                <a href="{link Insurance:}" class="dropdown-toggle" data-toggle="dropdown">Pojištění<b class="caret"></b></a>
                                <ul class="dropdown-menu multi-level">
                                    <li{ifCurrent Visit:uncovered} class="active"{/ifCurrent}><a href="{link Visit:uncovered}">Neuhrazeno pojišťovnou</a></li>
                                    <li{ifCurrent Visit:covered} class="active"{/ifCurrent}><a href="{link Visit:covered}">Již uhrazeno</a></li>
                                    <li class="divider"></li>
                                    <li{ifCurrent Insurance:default} class="active"{/ifCurrent}><a href="{link Insurance:default}">Pojišťovny se smlouvou</a></li>
                                    <li{ifCurrent Insurance:archive} class="active"{/ifCurrent}><a href="{link Insurance:archive}">Pojišťovny bez smlouvy</a></li>
                                </ul>  
                            </li>
                        {/if}
                        <li{ifCurrent Order:*} class="active"{/ifCurrent}>
                                <a href="{link Order:}" class="dropdown-toggle" data-toggle="dropdown">Objednávání<b class="caret"></b></a>
                                <ul class="dropdown-menu multi-level">
                                    <li{ifCurrent Order:default} class="active"{/ifCurrent}><a href="{link Order:default}">Objednané návštěvy</a></li>
                                    <li class="divider"></li>
                                    <li{ifCurrent Order:expiring} class="active"{/ifCurrent}><a href="{link Order:expiring}">Objednávky na pravidlné úkony</a></li>
                                </ul>  
                            </li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{link logout}">Odhlásit ze systému</a></li>
                    </ul>
                  </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container">
            <div id="flashes">
                <div n:foreach="$flashes as $flash" class="alert alert-dismissable alert-{if $flash->type == "error"}danger{else}{$flash->type}{/if}">
                    <p>
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        {$flash->message}
                    </p>
                </div>
            </div>
            
        </div>
                    
        {include content}
        
    </body>
</html>
