{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
*}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="robots" content="{$robots}" n:ifset="$robots">

        <title>{block title|striptags|upper}Health Care System 2014{/block}</title>
        
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/jquery-ui-1.10.0.custom.css">
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/main.css">

        <link rel="shortcut icon" href="{$basePath}/favicon.ico">

        {block scripts}
        <script src="{$basePath}/js/jquery.js"></script>
        <script src="{$basePath}/js/jquery-ui-1.10.4.custom.min.js"></script>
        <script src="{$basePath}/js/live.form.validation.js"></script>
        <script src="{$basePath}/js/main.js"></script>
        <script src="{$basePath}/bootstrap/js/bootstrap.min.js"></script>
        {/block}

        {block head}{/block}
    </head>

    <body>

        <div class="container">
            <div id="flashes">
                <div n:foreach="$flashes as $flash" class="alert alert-dismissable alert-{if $flash->type == "error"}danger{else}{$flash->type}{/if}">
                    <p>
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        {$flash->message}
                    </p>
                </div>
            </div>
        </div>
                    
        {include content}

    </body>
</html>
